/testcase/
/testresult/
/Logs/
.gitignore
*.exe
*.def
*.dsp
*.lib
*.doc
*.dll
*.lnt
*.pm
*.xls
*.dbg
*.DBG
*.o
*.plg
*.keep
*.prefs
.idea/
*.log
*.cmm
*.men
*.fig
*.cmp
*.tmp
*.pyc
*.bat
!/plutommi/Customer/CustResource/PLUTO_MMI/
ff